{
  "extends": ["wesbos"],
  "rules": {
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/named": 0,
    "react/prop-types": 0,
    "react/display-name": 0
  }
}
